.App {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.App-logo {
  animation: App-logo-spin infinite 30s linear;
  height: 100px;
  pointer-events: none;
}

.Header {
  background-color: #000000;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 3vmin);
  color: white;
  padding: 0 20%;
}

.content-container {
  box-sizing: border-box;

  background-color: #282c34;
  height: calc(100% - 100px);
}
.hamburger {
  display: none;
  margin-left: auto;
  margin-right: 20px;
}
.hamburger:hover {
  cursor: pointer;
}
@media screen and (max-width: 1400px) {
  .Header {
    padding: 0 10%;
  }
}
@media screen and (max-width: 1000px) {
  .App-logo {
    height: 50px;
  }
  .Header {
    padding: 0;
  }
}
@media screen and (max-width: 670px) {
  .hamburger {
    display: block;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
